@model IEnumerable<Secubd.Models.Module>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Niveau.libelleNiv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomMod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.credit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.est_requis)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Niveau.libelleNiv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomMod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.credit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.est_requis)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.codeMod }) |
            @Html.ActionLink("Details", "Details", new { id=item.codeMod }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.codeMod })
        </td>
    </tr>
}

</table>
