@model Secubd.vu.ConsEnseignant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ConsEnseignant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomETudiant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomETudiant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codePar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codePar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomMod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomMod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
