@model IEnumerable<Secubd.Models.DISPENSER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Annee_Academique.libelleAnn_Ac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Classe.codeNiv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enseignant.nomEns)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Module.nomMod)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Annee_Academique.libelleAnn_Ac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Classe.codeNiv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enseignant.nomEns)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Module.nomMod)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
